@charset "utf-8";

#header {
    background-color:white;
    color:black;
    text-align:center;
    padding:5px;
	font-size:40px;
    width: 1000px;
    height: 295px;
    margin:100px;
}


#nav{
    background-color: gray;
    font-size: 30px;
}
#nav ul li {
    display: inline-block;
    
}

#nav ul li a{
	color: #CCC;
    text-decoration: none;
}



#biglogo{
    float:right;
    width:250px;
    height: 295px;
    margin-right: 550px;
    margin-top: 85px;
}

#matchbanner{
    background-color: rgb(238, 238, 238);
    color: black;
    height:120px; 
    width: 35%; 
    float: right; 
    margin-right: 100px;
    text-align: center;
    
}
#match{
    background-color: rgb(238, 238, 238);
    color: black;
    height:100px; 
    width: 100%; 
    margin-top: 30px;
    text-align: center;
    
}


#info{
    background-color: rgb(238, 238, 238);
    color: black;
    height:100px;
    width: 50%; 
    margin-left:100px;
    text-align: center;
    
}
#info2{
    background-color: rgb(238, 238, 238);
    color: black;
    height:100px;
    width: 50%; 
    text-align: center;
    margin-top:50px;
    margin-left:100px;
}

#footer {
    display:block;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;



}




