/* Exercise3 */
figure {
    float: right;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    margin-right: 500px;
    border: gray;
  }

body{
    /* Sorry i used picture */
    /* Exercise3 */
    background-image:url("../images/tausta.png") !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font:20px;
    color:black;
}
/* Exercise3 */
h1{
    text-decoration: underline;
    color: red;
    font-size: 16;
}

#header {
    background-color:white;
    color:black;
    text-align:center;
    padding:5px;
	font-size:40px;
    width: 1000px;
    height: 300px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    overflow: auto;
}

/* Exercise3 */
#nav{
    background-color: gray;
    font-size: 30px;
}
/* Exercise3 */
#nav ul li {
    display: inline-block;
    
}
/* Exercise3 */
#nav ul li:hover {
    background-color: #333;
	
}
/* Exercise3 */
#nav ul li a{
	color: #CCC;
    text-decoration: none;
}


#matchbanner{
    background-color: rgb(238, 238, 238);
    color: black;
    width: 35%; 
    float: right; 
    margin-right: 100px;
    text-align: center;
}
#match{
    background-color: rgb(238, 238, 238);
    color: black;
    height:100px; 
    width: 100%; 
    margin-top: 10px;
    text-align: center;
    
}

video{
    margin-left: 100px;
    margin-top:10px;
}

#info{
    background-color: rgb(238, 238, 238);
    color: black;
    height:100px;
    width: 50%; 
    margin-left:100px;
    text-align: center;
    
}
#info2{
    background-color: rgb(238, 238, 238);
    color: black;
    height:100px;
    width: 50%; 
    text-align: center;
    margin-top:50px;
    margin-left:100px;
}

#footer {
    display:block;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}



